:root {
    --color-primario: #009fe3;
    --color-secundario: #6a1b9a;
    --accent-rosa: #e91e63;
    --accent-amarillo: #ffcc00;
    --text-light: #ffffff;
    --text-dark: #212121
    --bg-dark: #121212;
}